@import '../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

main {
    #PostSection {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;

        .postImageWrapper {
            display: flex;
            width: 100%;
            height: 70vh;
            background-color: aliceblue;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .postInfos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h1 {
                font-size: 2.65rem;
                font-weight: 700;
                color: #333333;
            }

            h3 {
                margin: 1rem 0 4rem 0;
            }
        }

        p {
            width: 80%;
            letter-spacing: 0.3px;
            line-height: 1.6;
            font-size: 1.25rem;
            margin-bottom: 30px;
        }
    }
}
