@import "../../global.scss";

* {
    font-family: 'Urbanist', sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

#contact-body {
    background: linear-gradient(45deg, $light-green, $dark-green);
    padding-top: 155px;
    height: 90vh;
}