@import "../../global.scss";

* {
    font-family: 'Urbanist', sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

#clients-body {
    background: linear-gradient(45deg, $light-green, $dark-green);
    padding-top: 155px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .clientInfos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        background-color: $offWhite;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px $preto;

        header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            img {
                height: 20vh;
                border-radius: 100px;
                margin: 0 2vw 0 0;
            }

            h1 {
                font-size: 2em;
                margin: 0 2vw;
            }
        }

        article {
            display: flex;
            margin: 1em;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;

            aside {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;

                img {
                    max-height: 40vh;
                }

                h2 {
                    margin: .5em;
                }
            }
        }
    }
}