@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {

    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

}

#MainBlog {

    background: #eee !important;
    
    #PostAuthorSection {
      
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        position: relative;

        .postImgWrapper {

          display: flex;
          width: 100%;
          height: 70vh;

          img {

            width: 100%;
            height: 100%;
            object-fit: cover;
            
          }

        }

        a {

          position: absolute;
          top: 5%;
          left: 5%;
          border: none;
          padding: 10px 30px;
          font-family: "Poppins", sans-serif;
          background-color: $orange;
          color: #fff;
          border-radius: 200px;
          font-weight: 700;
          font-size: 16px;
          text-decoration: none;

        }

        .authorImgWrapper {

          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 15%;
          width: 200px;
          height: 200px;
          background-color: rgb(255, 255, 255);
          padding: 5px;
          border-radius: 200px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

          img {

            width: 100%;
            height: 100%;
            border-radius: 200px;
            object-fit: cover;
            
          }

        }

        span {

          margin-top: 110px;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 24px;

        }

        .socialMediaWrapper {

          position: absolute;
          bottom: 0;
          display: flex;
          padding: 0 2rem;

          .socialMedias {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            margin: 0 10px;
            padding: 5px;
            background-color: rgb(255, 255, 255);
            border-radius: 200px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
  
            img {
  
              width: 80%;
              object-fit: cover;
  
            }
  
          }

        }

    }

    #PostTextSection {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      margin-top: 3rem;

      h1 {

        font-family: "Poppins", sans-serif;

      }

      p {

        width: 90%;
        font-size: 16px;
        line-height: 1.5;
        word-break: break-word;
        font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, "Helvetica Neue", Arial, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
        letter-spacing: .03em;
        margin: 2rem 0;
        
      }

    }

}

@media screen and (max-width: 768px) {

  main {

    #PostSection {

      

    }

  }

}