@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$branco: #fff;
$preto: #000;
$dark-green: #24733F;
$light-green: #72A67F;
$light-blue: #A4BFAB;
$orange: #DE7440;
$light-orange: #ff874b;
$yellow-green: #DED040;
$offWhite: #F2F2F2;
$offBlack: rgb(34, 34, 34);
$roxo: #5508ff;
$amarelo: #ffff00;

:root {

    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

// ::selection {
//     background-color: $light-orange;
// }

::-webkit-scrollbar {

    background: $offWhite;

}

::-webkit-scrollbar-thumb { 

    background-color: $light-blue;
    
}

#MainSketchbook {

    .divModal {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 3;

        .modalContent {

            position: fixed;
            display: flex;
            align-items: center;
            width: 50vw;
            height: 50vh;
            background-color: $offWhite;
            top: 25%;
            left: 25%;
            border-radius: 8px;

            .sketchbookImgWrapper {

                display: flex;
                width: 100%;

                img {

                    object-fit: cover;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 8px 0 0 8px;

                }

            }
        }
    }

    #CreateSketchbookSection {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-top: 10rem;

        p {

            color: $offWhite;

        }

        .logoWrapper {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 170px;
            background-color: $offWhite;
            border-radius: 100px;
            padding: 5px;
            margin-bottom: 1rem;

            img {

                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }

        }

        .textIntro {

            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin-bottom: 2.5rem;
            color: $offWhite;

            h5 {

                font-size: 1rem;
                font-weight: 200;
                margin-top: .5rem;
        
            }

        }

        fieldset {

            display: flex;
            flex-direction: column;
            border: none;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 500;

            label {

                font-size: 1rem;
                margin-bottom: .35rem;
                color: $offWhite;
        
            }

        }

        select {

            margin-bottom: 2rem;
            width: 50%;
            background-color: $light-green;
            color: $offWhite;
            font-size: 1.02rem;
            border: none;
            padding:.5rem 1rem;
            border-radius: 5px;
            outline: none;

            option {

                border: none;

            }

        }

        button {

            padding: .7rem 2rem;
            margin-bottom: 2rem;
            background-color: $orange;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            transition: .2s ease-in-out;

            &:hover {

                background-color: $light-orange;

            }

        }

        .textWrapper {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;

            .textBackground {

                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $light-green;
                color: #fff;
                margin-bottom: 10px;
                padding: .7rem 1.5rem;
                border-radius: 25px;

            }

            p {

                font-weight: 500;

            }

            button {

                padding: 0;
                margin: 0;
                font-weight: 500;
                color: $yellow-green;
                background-color: transparent;

            }

        }

        .sliderColors {

            display: flex;
            width: 90vw;
            height: 20vw;

            button {

                display: none !important;

            }

            div {

                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                cursor: grab;

                &:active {

                    cursor: grabbing;

                }

                .cardColor {

                    display: flex !important;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin: 0 1rem;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                    background-color: $offWhite;
                    padding: 10px;

                    .colorBox {

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 3px 3px 0 0;
                        height: 75%;

                        img {

                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }

                        p {

                            font-family: "Poppins", sans-serif;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: rgb(65, 65, 65);
                            background-color: rgb(223, 223, 223);
                            padding: .2rem .6rem;
                            border-radius: 50px;

                        }

                    }

                    .colorName {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        height: 25%;
                        border-radius: 0 0 3px 3px;

                        p {

                            font-family: "Poppins", sans-serif;
                            color: rgb(65, 65, 65);
                            font-weight: 600;
                            text-transform: uppercase;

                        }

                    }

                }

            }

        }

        #RadioSelectionColors {

            display: flex;
            width: 100%;
            margin-bottom: 2rem;
            align-items: center;
            justify-content: space-evenly;

            .boxColor {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .lineColorWrapper, .elasticColorWrapper {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30vw;
                    flex-wrap: wrap;
                    background-color: $offWhite;
                    border-radius: 8px;
                    padding: 1rem;
            
                    .colorWrapper {
            
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
            
                        .lineColor, .elasticColor {
                            
                            display: flex;
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            margin: 10px 15px 2px 15px;

                            img {

                                width: 100%;
                                height: 100%;
                                border-radius: 50px;
                                object-fit: cover;

                            }
                
                        }
            
                    }
            
                }
            
                .coverColorWrapper {
            
                    display: flex;
                    width: 90vw;
            
                }

            }

        }

        .additionalInfos {

            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            label {
        
                font-weight: 500;
                margin-bottom: 1rem;
                color: $offWhite;
        
            }
        
            textarea {
        
                height: 200px;
                width: 40%;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 2rem;
                outline: none;
                font-size: 1rem;
                border: none;
                background-color: $dark-green;
                color: $branco;
        
            }

            p {
                background: rgba( 222, 208, 64, 0.25 );
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24);
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                border-radius: 5px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                // border-radius: 5px;
                // margin-bottom: 1rem;
                // background-color: $yellow-green;
                // //color: $offBlack;
                margin-bottom: 1rem;
                padding: 1rem;
            }

            .productInfosWrapper {

                // margin-bottom: 2rem;
                // padding: 1rem 0;
                // border-radius: 10px;
                // background: #fff;

                width: 40%;
                background: rgba( 255, 255, 255, 0.15 );
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                color: $offWhite;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24);
                margin-bottom: 2rem;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                h1 {

                    border-bottom: 2px solid $orange;

                }

                ul {

                    list-style: none;

                    li {

                        padding: 1rem 20px;
                        margin: 20px 0;
                        background-color: $orange;
                        border-radius: 5px;

                    }
                    
                }

                h3 {

                    margin: 2rem 0 1rem 0;

                }

                button {

                    margin: 0;
                    border-radius: 100px;
                    text-transform: uppercase;
                    background-color: $dark-green;

                }

            }

        }

    }
}
